@import "tailwindcss";
@import "tw-animate-css";




html, body, * {
  cursor: none !important;
 

}

body {
 
  color: #ffffff;
  cursor: none; 
  background: #0d0c0c;

}

.tachstack::-webkit-scrollbar {
  display:  none;

}




